<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<nav>
    <ul id="menu2">
        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
        <li>@Html.ActionLink("DR Form 1a", "Form1a", "Home")</li>
        <li>@Html.ActionLink("DR Form 1amod", "Form1amod", "Home")</li>
        <li>@Html.ActionLink("DR Form 1b", "Form1b", "Home")</li>
        <li>@Html.ActionLink("DR Form 2a", "Form2a", "Home")</li>
        <li>@Html.ActionLink("DR Form 2b", "Form2b", "Home")</li>
        <li>@Html.ActionLink("DR Form 3a", "Form3a", "Home")</li>
        <li>@Html.ActionLink("DR Form 3b", "Form3b", "Home")</li>
        <li>@Html.ActionLink("DR Form 4", "Form4", "Home")</li>
    </ul>
    
</nav>

<div style="position:relative; top:-125px; left:350px;">
    <img src="~/Images/jsologo.jpg" />
</div>