@model DRApplication.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />


<h1 style="text-align:center"></h1>
<div class="container">
    <section id="content">
       
     <section id="loginForm">

            @using (Html.BeginForm("Login", "Account")) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
                
            <h1>Login Form</h1>
            <div>

                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName)

            </div>
                    <div>

                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)

                    </div>

                <div>
                    <input type="submit" value="Log in" />
                </div>
        </section>
            }
                <div class="button"><p style="text-align:center">&copy; @DateTime.Now.Year - VividDesign Solutions</p>
</div>
	</section><!-- content -->

 </div>
<footer>
    <p></p>
</footer>

 
