@model DRApplication.Models.LoginModel

   
@{
    ViewBag.Title = "Login";
    Layout = null;
}

 @using (Html.BeginForm()) {
 @Html.AntiForgeryToken()
 @Html.ValidationSummary()

<h1 style="text-align:center"></h1>

  <div class="container">
      <fieldset id="content">
          <legend>Login Form</legend>
          <div id="loginForm">

              <div>

                  @Html.TextBoxFor(u => u.UserName, new { placeholder = "User Name" })
                  @Html.ValidationMessageFor(u => u.UserName)

              </div>
              <div>

                  @Html.PasswordFor(p => p.Password, new { placeholder = "Password" })
                  @Html.ValidationMessageFor(p => p.Password)

              </div>

              <div>
                  <input type="submit" value="Log In" />
              </div>
          </div>
          <div class="button">
              <p style="text-align: center">&copy; @DateTime.Now.Year - VividDesign Solutions</p>
          </div>

      </fieldset><!-- content -->
    </div>

<footer>
    <p></p>
</footer>
 }
 

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
