@model DRApplication.Models.LoginModel

   
@{
    ViewBag.Title = "Login";
    Layout = null;
}

 @using (Html.BeginForm()) {
 @Html.AntiForgeryToken()


<h1 style="text-align:center"></h1>

  <div class="container">
      <fieldset id="content">
          <div id="loginForm">

              <div>

                  @Html.TextBoxFor(u => u.UserName, new { placeholder = "User Name" })

              </div>
              <div><br /></div>
              <div>

                  @Html.PasswordFor(p => p.Password, new { placeholder = "Password" })

              </div>

              <div>
                  <br /><input type="submit" value="Log In" />
                   @Html.ValidationSummary()
                  <br /><br /><br />
              </div>
          </div>
          
          <div class="button">
              <p style="text-align: center">&copy; @DateTime.Now.Year - VividDesign Solutions</p>
          </div>

      </fieldset><!-- content -->
    </div>

<footer>
    <p></p>
</footer>
     
     
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

     
@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>     
 }*@
 }
 
