@model DRApplication.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(u => u.UserName)
                @Html.TextBoxFor(u => u.UserName)
            </li>
            <li>
                @Html.LabelFor(p => p.Password)
                @Html.PasswordFor(p => p.Password)
            </li>
            <li>
                @Html.LabelFor(p => p.ConfirmPassword)
                @Html.PasswordFor(p => p.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
